.billRow {
    display: grid;
    grid-template-columns:
        1.5fr
        1fr
        0.6fr
        0.8fr
        1.2fr;

    align-items: center;
    gap: 8px;

    padding: 11px 0;
    border-bottom: 1px solid #eee;

    color: #555;
    font-size: 14px;
}

.billRow span:not(:first-child) {
    text-align: right;
}

.billRow span:last-child {
    color: #333;
    font-weight: bold;
}

@media (max-width: 700px) {
    .billRow {
        min-width: 430px;
    }
}
